:root {

    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'DMSans';
    src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
    font-weight: 400, 500;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'DMSans';
    line-height: 1;
}

img {
    width: 50%;
    height: auto;
}

.container {
    padding: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px 30px;
    grid-template-areas: "box-1 box-3 box-3 box-7"
        "box-1 box-4 box-5 box-7"
        "box-2 box-6 box-8 box-8"
    ;
}

.grids {
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#ai-content,
#maintain-content {
    background-color: var(--yellow-500);
}

#Grow-followers,
#social-media {
    color: var(--white);
    background-color: var(--purple-500);
}

#Schedule {
    background-color: var(--purple-100);
    overflow: hidden;
}

#accounts,
#faster-growth {
    background-color: var(--white);
}

#Grow-followers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}


/* Social media edits */
#social-media span {
    color: var(--yellow-500);
}
#social-media p {
     font-size: 18px;
}

.social-media-title {
    font-size: 56px;
    padding: 30px;
    font-weight: 500;
}


/* create post edits */
#create-post {
    background-color: var(--yellow-100);
    font-weight: 500;
    font-size: 36px;
    display: flex;
}

#create-post span {
   color: var(--purple-500);
}

/* schedule */
#Schedule h1 {
    font-size: 32px;
    font-weight: medium;
    padding: 30px;
}
#schedule p {
    font-size: 18px;
 
    font-weight: 400;
}

/* ai content */
#ai-content  {
    font-size: 36px;
    font-weight: medium;
       
}

#maintain-content , #faster-growth  , #accounts { 
    font-size: 28px;
    font-weight: medium;
}

#faster-growth p span {
    font-size: 48px;
}

